<form>
    <div class="form-group">
      <select class="form-control" id="exampleFormControlSelect1" required>
        <option value="">Open this select menu</option>
        <option>1</option>
        <option>2</option>
      </select>
    </div>
    <div class="form-row">
        <div class="col">
          <input type="number" class="form-control" placeholder="Predicted Number" required>
        </div>
        <div class="col">
            <input type="number" id="Quantity" class="form-control" placeholder="Quantity" required>
        </div>
      </div>
       <div class="form-row">
        <div class="col mt-3">
         <button class="btn btn-primary" type="submit">Submit form</button>
         </div>
       </div>
  </form>

 
 