<div *ngIf = "orderData" class="row">
  <div *ngFor="let key of obj(orderData)">
    <div class="col-sm-6 col-lg-4">
        <div class="brand-card cardmain">
          <div class="brand-card-header">
            <h5 class="card-title">{{orderData[key].product_name}}</h5>
          </div>
          <div class="brand-card-body pt-0">
            <div>
              <div class="text-value">{{orderData[key].quantity}}</div>
              <div class="text-uppercase text-muted small">Quantity</div>
            </div>
            <div>
              <div class="text-value">{{orderData[key].predicted}}</div>
              <div class="text-uppercase text-muted small">Predicted Qty</div>
            </div>
            <div>
                <a [ngClass]="orderData.status == 'N' ? 'btn  btn-outline-success':' btn btn-success'" (click)="setStatusDone(key)">Done</a>
              </div>
          </div>
        </div>
        </div>
      </div>
  </div>