.cardmain{
    min-width: 400px;
}
.noDataCard{
    margin:5vw 15vw;
}
.brand-card-header{
    height: 5rem;
}
@media only screen and (max-width: 1450px){
    .cardmain{
        min-width: 350px;
    }
}