.nav{
    ul{
        align-items: center;
        li{
            width: 100%;
            a{
                width: 100%;
                font-size: 18px;
                text-align: center;
                font-family: sans-serif;
                border-bottom: 1px solid#2f353a;
                &:hover{
                    background: #3a4248;
                    border-bottom: 1px solid grey;
                }
            }

        }
    }
}